.Authentication__Signout span:first-of-type {
margin-right: 8px;
}

.Authentication__Signout span:last-of-type {
color: #0000ff;
cursor: pointer;
}

h3 {
margin-bottom: 4px;
}

input[type="submit"] {
margin-left: 8px;
}